.welcome{ 
    background-image: url(../assets/backgrounds/welcome.jpg);
    background-size: cover;
    background-position: center;
 } 
.services{ 
    background-image: url(../assets/backgrounds/services.jpg);
    background-size: cover;
    background-position: center;
 } 
.contactform{
    background-image: url(../assets/backgrounds/contact.jpg);
    background-size: cover;
    background-position: center;
}

.welcome{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;

}
 /* .welcome img{   
    
    padding-bottom: 50px;
    
 }   */

.welcome h3{
    color: white
}
.welcome h4{
    color: white
   
}
.welcome h6{
    color: white
}
.aboutus{
    margin: 60px 130px;
    text-align: center;

}
.services{
    text-align: center;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.services h5{
    color:white;
    padding-top: 70px;
}

.services p{
    color:white;
    padding-right: 90px;
    padding-left: 90px;
}
.contactform{
    display: flex;
    height: 350px;
    margin-top: 10px;
}
.contactform h4{
    text-align: center;
    padding-top: 20px;
    color:white;
    align-items: center;
    justify-content: center;
}

.contactform input{
    margin-top: 60px;
    background-color: unset;
    border: 1px solid white;
    width: 370px;
    
}
.contactform textarea{
    display: block;
    padding-top: 10px;
    background-color: unset;
    width: 700px;
    height: 200px;
    border: 1px solid white;
    margin-top: 20px;
}
